.container_header, .container_nav, .container_genres, .container_purch_books, .container_wishlist {
  margin: auto;
  max-width: 80%;
}

.container_nav, .container_genres, .container_purch_books, .container_wishlist {
  margin-top: 50px;
}

.container_header, .container_nav, .profile_follow, .genres_selected, .genres, .books_items, .wishlist_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container_profile, .profile, .profile_info, .container_genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
}

.header_left {
  margin-right: auto;
  width: 30px;
}

.header_left:hover {
  cursor: pointer;
}

.header_icon {
  width: 30px;
  margin: 20px;
}

.header_icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

h2 {
  font-family: "Playfair Display", serif 30px;
}

h3 {
  font-family: "Playfair Display", serif 16px;
}

h4 {
  font-family: "Montserrat" 200px;
}

.container_nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_img {
  border-radius: 50%;
}

.profile {
  margin: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile_follow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.genres {
  margin: 10px;
  border-radius: 20px;
  padding: 1vh 2vw;
  color: #fff;
  font-family: "Montserrat", 12px, sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.genres_selected {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.genres:hover {
  cursor: pointer;
}

.one {
  background: #53889d;
  background: -webkit-gradient(linear, left top, right top, from(#53889d), to(#bbd1d9));
  background: linear-gradient(90deg, #53889d 0%, #bbd1d9 100%);
}

.two {
  background: #f3a492;
  background: -webkit-gradient(linear, left top, right top, from(#f3a492), to(#d96f6e));
  background: linear-gradient(90deg, #f3a492 0%, #d96f6e 100%);
}

.three {
  background: #f2d05c;
  background: -webkit-gradient(linear, left top, right top, from(#f2d05c), to(#f3a492));
  background: linear-gradient(90deg, #f2d05c 0%, #f3a492 100%);
}

.four {
  background: #f2d05c;
  background: -webkit-gradient(linear, left top, right top, from(#f2d05c), to(#f3a492));
  background: linear-gradient(90deg, #f2d05c 0%, #f3a492 100%);
}

.five {
  background: #bbd1d9;
  background: -webkit-gradient(linear, left top, right top, from(#bbd1d9), to(#f2d05c));
  background: linear-gradient(90deg, #bbd1d9 0%, #f2d05c 100%);
}

.six {
  background: #d96f6e;
  background: -webkit-gradient(linear, left top, right top, from(#d96f6e), to(#f2d05c));
  background: linear-gradient(90deg, #d96f6e 0%, #f2d05c 100%);
}

.seven {
  background: #53889d;
  background: -webkit-gradient(linear, left top, right top, from(#53889d), to(#bbd1d9));
  background: linear-gradient(90deg, #53889d 0%, #bbd1d9 100%);
}

.books_items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view_books {
  color: red;
  margin-top: 10px;
}

.wishlist_row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  margin: 10px;
}

.item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.icon_sign {
  color: #000;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */